* {
  box-sizing: border-box;

}

body{
  margin: 0px;
  padding: 10px;
  text-align: center;

}
 footer {
  padding:20px;
  background:black;
  color: white;
  border-radius:20px;
}
section {
  width: 65%;
  float:left;
  height: 400px;
  background:grey;


}
h1{
  text-align: center;
  color: black;
  font-size: 18px;
  line-height: 25px;
  font-family: "Times New Roman", Times, serif;

}

h3{
  text-align: center;
  color: black;
  font-size: 18px;
  line-height: 25px;
   font-family: "Times New Roman", Times, serif;
  
}
h2{
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 25px;
  font-family: "Times New Roman", Times, serif;

}

.right {
  width: 25%;
  float:left;
  height: 200px;
  background: lightblue;
  border-left: 2px solid red;


}
img{

}
main *{
  border-radius: 10px;
}
.main {
  margin: 10px 0px;
}
.main::after {
  content: "";
  clear: both;
  display: table;
}
